div{
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
p{
    background-color: green;
    color: white;
    font-size: 25px;
    font-weight: 300;
}
button{
    background-color: yellow;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px
}